{% extends "base_files/base.html" %}
{% block title %}Students managements{% endblock title %}
{% block link %}{% endblock link %}
{% block style %}
<style>
  a {
       text-decoration: none;
  }
</style>
{% endblock style %}
{% block content %}


<div class="container-fluid bg-dark vh-100">
     {% include "widgets/base_nav.html" %}
     <div class="row pt-3">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Class Name Type</th>
                  <th scope="col">Created at</th>
                  <th scope="col">Updated at</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                   {% for student in students_details %}
                   <tr>
                       <th scope="row">{{ student.id }}</th>
                       <td>{{ student.name }}</td>
                       <td>{{ student.age }}</td>
                       <td>
                           {{student.class_name}}
                       </td>
                       <td>{{ student.created_at }}</td>
                       <td>{{ student.updated_at }}</td>
                       <td><a href="{% url 'edit-students' student.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                       <!-- Use class instead of id and pass data-url -->
                       <td><a class="del_administrator" href="#" data-url="{% url 'delete-students' student.id %}">
                        <i class="fa-solid fa-trash"></i></a></td>
                   </tr>
                   {% endfor %}
              </tbody>
            </table>
          </div>
     </div>
</div>


{% endblock content %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% if messages %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for message in messages %}
            Swal.fire({
                title: 'Alert..!',
                text: "{{ message }}",
                icon: "{{ message.tags }}"
            });
        {% endfor %}
    });
    </script>
{% endif %}

<script>
     $(document).ready(function() {
         $('.del_administrator').click(function(e) {
             e.preventDefault();  // Prevent default link action

             // Get the URL for deleting the administrator
             var url = $(this).data('url');

             Swal.fire({
                 title: "Are you sure?",
                 text: "Once deleted, you will not be able to recover this user!",
                 icon: "warning",
                 showCancelButton: true,
                 confirmButtonText: "Yes, delete it!",
                 cancelButtonText: "No, keep it",
                 dangerMode: true,
             }).then((result) => {
                 if (result.isConfirmed) {
                     // If confirmed, make the AJAX call
                     $.ajax({
                         url: url,
                         type: 'GET',
                         success: function(response) {
                             Swal.fire("Deleted!", "The user has been deleted.", "success")
                             .then(() => {
                                 location.reload();
                             });
                         },
                         error: function(xhr, status, error) {
                             Swal.fire("Error!", "Error deleting user", "error");
                         }
                     });
                 } else {
                     Swal.fire("Cancelled", "The user is safe!", "info");
                 }
             });
         });
     });
</script>


{% endblock scripts %}